.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy,
.siteorigin-widget-form .siteorigin-widget-field-type-link {
	position: relative;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector {
	padding: 20px;
	display: none;
	position: absolute;
	top: 110%;
	width: 360px;
	z-index: 10;
	border: 1px solid #c0c0c0;
	background: #F6F6F6;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .content-text-search,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .content-text-search {
	width: 100%;
	margin-bottom: 15px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items,
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post {
	margin: 0;
	padding: 0;
	background: #fff;
	max-height: 300px;
	overflow-y: scroll;
	border: 1px solid #e4e4e4;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items li,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li,
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post li,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li {
	cursor: pointer;
	padding: 5px 10px;
	color: #32373c;
	border-bottom: 1px solid #f1f1f1;
	margin: 0;
	font-size: 0.95em;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items li.selected,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li.selected,
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post li.selected,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li.selected {
	background: #e1edfa;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items li:hover,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li:hover,
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post li:hover,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li:hover {
	background: #eaf2fa;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items li:last-child,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li:last-child,
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post li:last-child,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li:last-child {
	border-bottom: 0;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items li span,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li span,
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post li span,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li span {
	font-size: 0.9em;
	display: inline-block;
	float: right;
	color: #999;
	margin-left: 10px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items.loading,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items.loading,
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post.loading,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post.loading {
	min-height: 40px;
	background: #FFFFFF center center no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items.loading,
	.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items.loading,
	.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post.loading,
	.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post.loading {
		background-size: 16px 16px;
	}
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .items.loading li,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items.loading li,
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .post.loading li,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post.loading li {
	display: none;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .buttons,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .buttons {
	margin-top: 15px;
	text-align: right;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .existing-content-selector .buttons a,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .buttons a {
	display: inline-block;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .url-input-wrapper,
.siteorigin-widget-form .siteorigin-widget-field-type-link .url-input-wrapper {
	display: block;
	margin-right: 130px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-taxonomy .select-content-button,
.siteorigin-widget-form .siteorigin-widget-field-type-link .select-content-button {
	float: right;
	width: 120px;
	text-align: center;
}

.span-hide {
	display: none;
}

.siteorigin-widget-form .siteorigin-widget-field-type-post,
.siteorigin-widget-form .siteorigin-widget-field-type-link {
	position: relative;
}

.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector {
	padding: 20px;
	display: none;
	position: absolute;
	top: 110%;
	width: 360px;
	z-index: 10;
	border: 1px solid #c0c0c0;
	background: #F6F6F6;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .content-text-search,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .content-text-search {
	width: 100%;
	margin-bottom: 15px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items,
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post {
	margin: 0;
	padding: 0;
	background: #fff;
	max-height: 300px;
	overflow-y: scroll;
	border: 1px solid #e4e4e4;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items li,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li,
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post li,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li {
	cursor: pointer;
	padding: 5px 10px;
	color: #32373c;
	border-bottom: 1px solid #f1f1f1;
	margin: 0;
	font-size: 0.95em;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items li.selected,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li.selected,
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post li.selected,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li.selected {
	background: #e1edfa;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items li:hover,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li:hover,
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post li:hover,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li:hover {
	background: #eaf2fa;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items li:last-child,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li:last-child,
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post li:last-child,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li:last-child {
	border-bottom: 0;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items li span,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items li span,
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post li span,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post li span {
	font-size: 0.9em;
	display: inline-block;
	float: right;
	color: #999;
	margin-left: 10px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items.loading,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items.loading,
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post.loading,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post.loading {
	min-height: 40px;
	background: #FFFFFF center center no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items.loading,
	.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items.loading,
	.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post.loading,
	.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post.loading {
		background-size: 16px 16px;
	}
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .items.loading li,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .items.loading li,
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .post.loading li,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .post.loading li {
	display: none;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .buttons,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .buttons {
	margin-top: 15px;
	text-align: right;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .existing-content-selector .buttons a,
.siteorigin-widget-form .siteorigin-widget-field-type-link .existing-content-selector .buttons a {
	display: inline-block;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .url-input-wrapper,
.siteorigin-widget-form .siteorigin-widget-field-type-link .url-input-wrapper {
	display: block;
	margin-right: 130px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-post .select-content-button,
.siteorigin-widget-form .siteorigin-widget-field-type-link .select-content-button {
	float: right;
	width: 120px;
	text-align: center;
}

.span-hide {
	display: none;
}